.DS_Store
*.gz
*.gz(busy)
*.blg
*.aux
*.log
*.out
WIOD_2018.synctex.gz
WIOD_2018.synctex.gz(busy)
WIOD_2018.out
WIOD_2018.log
WIOD_2018.aux
WIOD_2018.bbl
/Etude des composants de HC_BACKUP_27535.do
*.bbl
/Rédaction/PIWIM_2018 2.synctex(busy)
/Rédaction/PIWIM_2018_BACKUP_8023.tex
/Rédaction/PIWIM_2018_BASE_8023.tex
/Rédaction/PIWIM_2018_LOCAL_8023.tex
/Rédaction/PIWIM_2018_REMOTE_8023.tex
PIWIM_2018.bbl
~$oposition Guillaume.docx
/Article VoxEU/~$ravail.docx
